.word__link {
    display: block;
    color: #fff;
    border-bottom: 1px solid rgba(245, 245, 245, 0.329);
    transition: background 0.1s ease;
}
.word__link:hover {
    background: rgba(255, 255, 255, 0.2);
}
.word__link:last-child {
    border-bottom: 0;
}
.word__container {
}

.word__body {
    display: flex;
    padding: 10px 10px;
}

.word__dash {
    margin: 0px 10px;
}

.word__subtitle::first-letter {
    text-transform: uppercase;
}

.word__title, .word__subtitle {
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}