.word__container {
    flex: 0 1 33.333%;
    padding: 10px;
}
.word__body {
    position: relative;
    height: 100%;
    border-radius: 5px;
    padding: 45px 30px;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.46);
    /* border: 1px solid rgb(94, 36, 36); */
    border: 1px solid rgb(36, 69, 94);
    display: flex;
    flex-direction: column;
}

.word__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}
.word__title, .word__subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.word__subtitle {
    line-height: 16px;
    -webkit-line-clamp: 3;
    margin-bottom: auto;
}

.btn__modal {
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 2.5px 5px;
}
.btn__modal:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 15px;
    height: 1px;
    background: rgb(191, 191, 191);
    transition: 0.3s cubic-bezier(0.1, 0.8, 0.1, 1.6);
}
.btn__modal:hover:before {
    width: 100%;
}

.modal-screen {
    position: fixed;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.59);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-screen.active {
    opacity: 1;
    visibility: visible;
}

.modal-screen__body {
    position: relative;
    padding: 60px 50px;
    padding-top: 40px;
    max-width: 450px;
    background: rgba(43, 48, 59, 0.522);
    border-radius: 5px;
    border: 1px solid rgb(48, 76, 119);
}

.modal-screen__title {
    margin-bottom: 10px;
    font-size: 18px;
}

.modal-screen__subtitle {
    line-height: 16px;
}

.modal-screen__btn-close {
    bottom: 20px;
}