.words-list__row {
    display: flex;
    /* align-items: stretch; */
    flex-wrap: wrap;
    position: relative;
}


.match-error {
    margin: 0 auto;
}

.loader {
    position: absolute;
    left: calc(50% - 25px);
    top: 0;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: 0.8s rotate linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}